{% extends 'admin/bars.html.twig' %}

{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left"><h5><a
                            href="{{ path('app_invoice_index') }}">Listado de Facturas</a></h5></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title"><h2>Listado Facturas</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="{{ path('app_invoice_new') }}" class="btn btn-success">NEW</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="table-index" class="dataminetables">
                            <thead>
                            <tr>
                                <th>Due Date</th>
                                <th>Emission Date</th>
                                <th>Amount</th>
                                <th>Extra Data</th>
                                <th>Status</th>
                                <th>Client</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in invoices %}
                                <tr>
                                    <td>{{ invoice.dueDate }}</td>
                                    <td>{{ invoice.emissionDate }}</td>
                                    <td>{{ invoice.amount }}</td>
                                    <td>{{ invoice.extraData }}</td>
                                    <td>{{ invoice.status }}</td>
                                    <td>{{ invoice.client.name }}</td> {# Asegúrate de que 'name' existe en Client #}
                                    <td>
                                        <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">Editar</a>
                                        <a href="{{ path('app_invoice_delete', {'id': invoice.id}) }}">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endblock %}